@page
@model Client.Web.Pages.CompositionRegistryModel
@{
}

<div class="container">
    <div class="row">
        <div class="col-md">
            <table class="table">
                @foreach (var type in Model.HandlerTypes)
                {
                    <tr>
                        <td>@type</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>